$color-1: #000; //font
$color-2: #5c5c5c;
$color-3: #cf8349;
$color-4: #0e0e0e; //trainers section
$color-5: rgb(184, 174, 174); //shadow elipse
$color-6: #fff; //white text
$color-7: #c4c4c4; //boxes -> prices
$color-8: #d9d9d9; //nav dots
$color-9: #d2d2d2; //trainers specialize
