@import "variables";

.section-home {
  &__button {
    cursor: pointer;
    font-family: "PaytoneOne";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    color: $color-6;
    background: $color-3;
    padding: 10px 0 10px 55px;
    margin-top: 3vh;
    border: none;
    border-radius: 3px;
    transition: all 0.2s;
    &--hover {
      background: lighten($color-3, 5%);
      transition: all 0.2s;
      padding: 10px 25px 10px 25px;
    }
  }
  &__arrow {
    transform: scale(0.01);
    opacity: 0;
    transition: all 0.2s;
  }
  &__arrow--hover {
    opacity: 1;
    transform: scale(0.3) rotate(-90deg) translate(-15px, 50px);
    transition: all 0.2s;
  }
}
