@import "variables";

@mixin sfont {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 768px;
  scroll-behavior: smooth;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

//state to hamburger menu
.section-home__line1.change {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.section-home__line2.change {
  opacity: 0;
}

.section-home__line3.change {
  transform: rotate(45deg) translate(-9px, -9px);
}

//***********************************************************************
//***********************************************************************

.section-home {
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient($color-2 -80%, $color-1);
  overflow: hidden;

  &__hamburger-menu {
    width: 40px;
    height: 50px;
    position: fixed;
    top: 35px;
    right: 25px;
    cursor: pointer;
    display: inline-block;
    z-index: 10000;
  }

  &__line1,
  &__line2,
  &__line3 {
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin: 7px 0;
    transition: 0.4s;
  }

  &__star {
    position: absolute;
    bottom: -40%;
    right: 0;
    width: calc(75% + 100px);
    z-index: 0;
  }

  &__star-img {
    position: absolute;
    bottom: 180px;
    right: -130px;
    width: calc(75% + 100px);
    z-index: 0;
  }

  &__nav {
    position: relative;
    height: 12%;
    width: 75%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    position: relative;
    width: 230px;
    margin: 60px 0 0 0;
    transform: scale(1.2);
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.4s ease-in;

    a {
      @include sfont;
      font-family: "PaytoneOne";
      font-weight: 200;
      margin: 2.5vw;
      color: $color-6;
      font-size: 1.2em;
      background: none;
      padding: 10px;
      text-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
      text-decoration: none;
    }
  }

  &__content {
    height: 88%;
    width: 75%;
    margin: 0 auto;
    padding: 0;
    z-index: 2;
    position: relative;
    font-family: "Pavanam";
    min-height: 800px;

    h1 {
      font-family: "PaytoneOne";
      font-size: 8em;
      line-height: 1em;
      color: $color-6;

      z-index: 5;
      margin-top: 10vh;
    }
  }

  &__man-picture {
    position: absolute;
    bottom: 300px;
    right: 13%;
    width: 35%;
  }

  &__content-text {
    @include sfont;
    font-weight: 400;
    color: $color-6;
    width: 45%;
    margin-top: 15%;
    font-size: 1.2rem;
    line-height: 1em;
  }
}

//***********************************************************************
//***********************************************************************

.section-about {
  background: $color-3;
  position: relative;
  height: 100%;
  min-height: 900px;
  width: 100%;
  overflow: hidden;
  &__about-container {
    position: relative;
    height: 100%;
  }
  &__header {
    display: none;
    font-family: "PaytoneOne";
    font-size: 25pt;
    width: 150px;
    line-height: 25pt;
    position: absolute;
    top: 300px;
    left: 10vw;
    z-index: 100;
    color: $color-6;
    @include sfont;
  }
  &__heading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 0;
    width: 70vw;
    max-width: 1000px;
    transform: translateY(300px);
    transition: transform 0.4s ease-out;
  }
  &__container {
    position: relative;
    width: 70vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    transform: translateY(300px);
    transition: transform 0.4s ease-out;
    transition-delay: 0.1s;
  }
  &__paragraph {
    font-family: "Pavanam";
    font-size: 1em;
    width: 35%;
    @include sfont;
  }
  &__subtext {
    margin-left: 20%;
    margin-top: 20px;
    color: $color-6;
    font-family: "Pavanam";
    font-weight: 400;
    font-size: 0.8em;
    @include sfont;
  }
  &__vector-1 {
    background: url("../assets/Vector_about.svg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    left: 15vw;
    top: 500px;
  }
  &__vector-2 {
    background: url("../assets/Vector2_about.svg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    background-position-x: 110%;
  }
}

//***********************************************************************
//***********************************************************************

.section-trainers {
  background: $color-4;
  position: relative;
  height: 100%;
  min-height: 1000px;
  width: 100%;
  overflow: hidden;
  p {
    color: $color-6;
    text-align: center;
    font-family: "Pavanam";
    @include sfont;
    margin: 35px auto;
    width: 50%;
  }
  h1 {
    font-family: "PaytoneOne";
    color: $color-6;
    font-size: 5.2rem;
    width: 80%;
    text-align: center;
    margin: 50px auto 5px auto;
    @include sfont;
    transform: translateY(300px);
    transition: transform 0.4s ease-out;
  }
  &__paragraph {
    font-size: 1.2rem;
    color: $color-6;
    text-align: center;
    margin: 0 auto;
    transform: translateY(300px);
    transition: transform 0.4s ease-out;
    transition-delay: 0.1s;
  }
  &__pictures-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -3px;
    padding-left: 6px;
    left: 0;
    right: 0;
    box-shadow: 0 -200px 200px -200px $color-2;
    border-radius: 50%;
    transform: translateY(300px);
    transition: transform 0.4s ease-out;
    transition-delay: 0.2s;
  }
  &__picture {
    padding: 0;
    width: 100%;
    margin: 0;
  }
  &__content-overlay {
    text-align: center;
    position: absolute;

    width: 100%;
    height: 100%;
    background: $color-3;
    left: 0;
    top: -2px;
    box-shadow: inset 0 0 250px #3f3f3f;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  &__description {
    text-align: center;

    position: absolute;
    width: 25%;
    height: 20%;
    z-index: 1000;
    left: 25%;
    top: 25%;
    color: #fff;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    h3 {
      font-family: "Post";
      font-size: 3.5rem;
      padding: 40px;
      margin: 0;
      line-height: 3.5rem;
      @include sfont;
    }
    h4 {
      font-family: "PatuaOne";
      margin-top: 10px;
      font-size: 1.6rem;
      @include sfont;
    }
    h5 {
      font-family: "PatuaOne";
      margin-top: 20px;
      font-size: 1.2rem;
      color: $color-9;
      @include sfont;
    }
  }
  &__description-1 {
    left: 0;
    opacity: 0;
  }

  &__description-2 {
    left: 25%;
    opacity: 0;
  }
  &__description-3 {
    left: 50%;
    opacity: 0;
  }
  &__description-4 {
    left: 75%;
    opacity: 0;
  }
  &__trainer {
    padding: 0;
    margin: -3px;
    width: 25%;
    height: 100%;
    display: inline-block;
    position: relative;
    transition: filter 0.4s;
  }
}

//***********************************************************************
//***********************************************************************

.section-price {
  background: $color-3;
  background-image: url("../assets/dot_prices.png");
  background-repeat: repeat;
  position: relative;
  height: 100%;
  min-height: 900px;
  width: 100%;
  overflow: hidden;

  &__dotted-overlay {
    background-image: url("../assets/vector_prices.svg");
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__container {
    position: relative;
    width: 75%;
    margin: 0 auto;
  }

  &__heading {
    position: relative;
    margin: 0 -220px;
  }

  &__heading-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    transform: translateY(300px);
    transition: transform 0.4s ease-out;
    transition-delay: 0s;
  }

  &__boxes {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    transform: translateY(300px);
    transition: transform 0.4s ease-out;
    transition-delay: 0.4s;
  }

  &__box {
    width: 290px;
    height: 400px;
    background: $color-7;
    margin: 0 10px;
    position: relative;
    box-shadow: 0 2px 15px -5px;
    h2 {
      text-align: center;
      margin: 20px;
      padding: 5px 0;
      border: solid 10px $color-3;
      border-radius: 50%/50%;
      font-family: "PaytoneOne";
      font-size: 3rem;
    }
    h3 {
      font-family: "PaytoneOne";
      text-align: center;
      margin-bottom: 30px;
      margin-top: 20px;
      @include sfont;
    }
    ul {
      font-family: "Pavanam";
      line-height: 30px;
      @include sfont;
      li {
        font-family: "Pavanam";
        line-height: 30px;
        @include sfont;
      }
      text-align: center;

      list-style: none;
    }
  }

  &__boxes-labels {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-10px);
    transform: translateY(300px);
    transition: transform 0.4s ease-out;
    transition-delay: 0.3s;
  }

  &__background-1 {
    background: url("../assets/top_price.png");
    background-size: cover;
    background-position: -10px;
    background-repeat: no-repeat;
  }

  &__label {
    font-family: "PaytoneOne";
    font-size: 1.6rem;
    text-align: center;
    width: 25%;
    height: 50px;
    margin: 0;
    padding-top: 10px;
    padding-right: 15px;
  }

  &__price {
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-family: "PaytoneOne";
    font-size: 2rem;
    @include sfont;
  }

  &__price-center {
    position: relative;
    left: -50%;
  }

  &__number {
    width: 150px;
    margin: auto;
    height: 100px;
  }

  &__decoration {
    position: absolute;
    bottom: -60px;
    left: 4px;
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(2px 5px 5px #222);
    filter: drop-shadow(2px 1px 2px #222);
  }

  &__people-container {
    width: 90%;
    height: 500px;
    top: 0;
    left: 0;
    position: absolute;
    margin: 0 auto;
    transform: translateY(300px);
    transition: transform 0.4s ease-out;
    transition-delay: 0.1s;
    mix-blend-mode: multiply;
    z-index: 4;
  }

  &__people {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

//***********************************************************************
//***********************************************************************
.section-contacts::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
  background-image: url("../assets/background_contacts.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.section-contacts {
  background: $color-4;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: visible;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
      color: $color-6;
      font-family: "Pavanam";
      font-size: 2.5rem;
      text-align: center;
      line-height: 50px;
      transform: translatex(900px);
      transition: transform 0.4s ease-out;
      transition-delay: 0.1s;
    }
    img {
      transform: translatex(-900px);
      transition: transform 0.4s ease-out;
      transition-delay: 0s;
    }
  }

  &__images {
    position: absolute;
    top: 0;
    left: 0;
    margin: -8vw 7%;
    width: 90%;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
    }
  }

  &__image {
    margin: -100px;
    margin-right: 0;
    padding: 0;
    width: 33%;
    height: 582px;
    transform: translateY(300px);
    transform: scale(0.1);
    transition: transform 0.4s ease-out;
    transition-delay: 0.5s;
  }

  &__image-mid {
    transform: scale(1.2);
  }
}
